aiohttp>=3.6.2,<4
motor>=2.1.0,<3
prometheus_client>=0.9.0,<1
iso8601>=0.1.12,<1
sentry-sdk>=0.14.4,<1
pytz
pyyaml
python-dateutil==2.8.2
pytest-asyncio
mock==4.0.3
git+https://github.com/ProzorroUKR/prozorro_crawler.git@1.2.1#egg=prozorro_crawler
git+https://github.com/ProzorroUKR/esculator.git@0.0.2#egg=esculator
git+https://github.com/ProzorroUKR/barbecue.git@0.2#egg=barbecue
git+https://github.com/ProzorroUKR/standards.git@1.0.29#egg=standards
