{% raw %}
<div class="container-fluid">
    <div ng-show="view_bids_form" class="panel panel-default bg-warning fixed-bottom" ng-class="{'auction-with-one-price': (auction_doc.auction_type||'default') == 'default'}">
        <div class="panel-body bg-warning">
            <div class="row">
                <div class="col-xs-12">
                    <div class="container">
                        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" ng-class="'alert-' + (alert.type || 'warning')" class="bids-form-alert" close="closeAlert(alert.msg_id)"><span class="bids-form-alert-msg">{{ alert.msg | translate:alert.msg_vars }}</span></div>
                        <form id="BidsForm" name="form.BidsForm" role="form">
                            <label for="bid"><span translate>Your proposal</span>:</label>
                            <span ng-init="max_bid_amount()" class="max_bid_amount" id="max_bid_amount" ng-if="(auction_doc.auction_type||'default') == 'default'"><span id="max_bid_amount_price">{{ calculated_max_bid_amount|floor:2 }}</span> {{'or lower'|translate}}</span>
                            <div class="price-inform-block" ng-if="auction_doc.auction_type == 'meat'">
                                <div class="col-md-5 col-sm-5 full-price-group">
                                    <span translate ng-if="auction_doc.auction_type == 'meat'">Full Price</span>
                                    <span ng-init="max_bid_amount()" class="max_bid_amount" ng-if="auction_doc.auction_type == 'meat'"><span>{{ calculated_max_bid_amount|floor:2 }}</span> {{'or lower'|translate}}</span>
                                </div>
                                <div class="col-md-5 col-sm-5 normalized-price-group">
                                    <span translate>Normilized Price</span>
                                    <span ng-init="max_bid_amount()" class="max_bid_amount"><span>{{ calculated_max_bid_amount/bidder_coeficient|floor:2 }}</span> {{'or lower'|translate}}</span>
                                </div>
                            </div>
                            <div class="input-group main-price-block">
                                <div class="full-price-group" ng-class="{'col-md-3 col-sm-3 col-xs-11': auction_doc.auction_type == 'meat', 'col-md-8 col-sm-8': (auction_doc.auction_type||'default') == 'default'}" >
                                    <span translate ng-if="auction_doc.auction_type == 'meat'">Full Price</span>
                                    <span ng-init="max_bid_amount()" class="max_bid_amount" ng-if="auction_doc.auction_type == 'meat'"><span>{{ calculated_max_bid_amount|floor:2 }}</span> {{'or lower'|translate}}</span>
                                    <input id="bid-amount-input" ng-disabled="!allow_bidding" min="0" ng-change="calculate_bid_temp()" class="form-control" id="bid" name="bid" ng-model="$root.form.bid" required format>
                                </div>
                                <div class="bidder-coeficient-wrap col-md-2 col-sm-2 col-xs-11" ng-if="auction_doc.auction_type == 'meat'">
                                    <span translate>Bidder Coeficient</span>
                                    <span id="bid-amount-description" ng-if="bidder_coeficient && !$root.normilized" uib-tooltip="x {{bidder_coeficient| fraction_string}}" tooltip-trigger="focus"> {{bidder_coeficient| fraction}}</span>
                                </div>
                                <div class="normalized-price-group col-xs-11 col-md-3 col-sm-3" ng-class="{'not-allow-bidding': !allow_bidding}" ng-if="auction_doc.auction_type == 'meat' ">
                                    <span translate>Normilized Price</span>
                                    <span ng-init="max_bid_amount()" class="max_bid_amount" ><span>{{ calculated_max_bid_amount/bidder_coeficient|floor:2 }} </span> {{'or lower'|translate}}</span>
                                    <input id="bid-amount-full-price" ng-disabled="!allow_bidding" ng-if="bidder_coeficient && !$root.normilized" ng-change="calculate_full_price_temp()" min="0" class="form-control" id="full_price" name="full_price" ng-model="$root.form.full_price" required format>
                                </div>
                                <div class="input-group-btn col-md-4 col-sm-4 pull-right">
                                    <button id="place-bid-button" type="submit" ng-if="allow_bidding" ng-click="post_bid()" class="btn btn-success" ng-class="{'active': form.active}" translate>Place a bid</button>
                                    <button id="edit-bid-button" type="submit" ng-if="!allow_bidding" ng-click="edit_bid()" class="btn btn-link" translate>Edit</button>
                                    <button id="cancel-bid-button" type="submit" ng-if="!allow_bidding" ng-click="post_bid(-1)" class="btn btn-danger" ng-class="{'active': form.active}" translate>Cancel Bid</button>
                                    <button id="clear-bid-button" type="submit" ng-if="allow_bidding" ng-click="($root.form.full_price = '');($root.form.bid = '')" class="btn btn-primary" translate>Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}